div.progress{
   margin: 8px;
}
div.selectButton,div.uploadButton,div.task{
    font-size: 0.6em;
    margin: 8px;
}
.image{
    width: 100%;
    margin: 4px;
    padding: 2px;
    background: #fff;
    max-width: 20em;
    border-radius: 0.4em;
}
.imageUp{
    padding-right: 8px;
    background: #08153a;
    margin-bottom: 4px;
    border-radius: 0.6em;
}
.box{
    height: -webkit-fill-available;
    overflow: scroll
}
.gallery{
    margin: 8px;
}
.info{
    font-size: 0.6em;
    color:rgb(255, 255, 255);
    text-align: center;    
    font-family: sans-serif;
    padding: 0 4px 4px 4px;


}
