
<div>
	<app-header id="header" (onSelectAnything)="onSelect($event)"></app-header>
	<div>
		<div 
		class="swiper-container">
			<!-- Add Pagination -->
		
		<div id="stickbar"
			[style.display]="isSelect? 'none':'block'" 
			class="swiper-pagination">
		</div>
		<div class="swiper-wrapper">
			<div  class="swiper-slide">
				<div *ngIf="!isSelect" class="scoll-view-one">
					<graph></graph>
				</div>
			</div>
			<div class="swiper-slide">
				<div *ngIf="!isSelect" class="scroll-view-two">
					<timeline></timeline>
				</div>	
			</div>
			<div  class="swiper-slide">
				<div *ngIf="!isSelect" class="scroll-view-three">
					<gallery></gallery>
				</div>
			</div>
		
		</div>
	</div>
	</div>
</div>
